.week-track {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

.week-track.mod-drag-over {
  background: rgba(0, 0, 0, 0.2);
}

.week-header {
  flex: 0 0 25px;
  padding: 0 5px;
}

.week-duration {
  line-height: 3.2rem;
  font-weight: bold;
  font-size: 1.7rem;
}

.week-balance-forward {
  float: right;
  font-weight: bold;
  font-size: 2rem;
}

.week-balance-forward.mod-good {
    color: #5A8862;
}

.week-balance-forward.mod-low {
    color: #C28700;
}

.week-balance-forward.mod-bad {
    color: #CE0000;
}

.week-occurrences {
  flex: 1;
  height: 100px;
  overflow-y: scroll;
  padding: 5px;
}
